.maincontent {
    margin: 0 auto;
    padding: 16px;
}

button {
    font-size: 15px;
}

.input-field{
    width: 100%;
    max-width: 80%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #000054;
    font-size: 14px;
    color: #334155;
}

.input-field input, .input-field input:focus-visible {
    border: none;
    outline: none;
}

/* Admin Book Page */
.tabs-container {
    display: "flex";
    gap: 8;
    margin-bottom: 24px;
}

.tab{
    margin: 0 16px 0 0;
}

#submit-btn {
    margin-top: 24px;
}

label {
    display: block;
    font-size: 16px!important;
    color: #000054;
    margin-bottom: 8px;
    font-weight: bold;
}

span.label {
    display: block;
    margin-bottom: 8px;
}

#search-input, #select-input {
    max-width: 90%;
}

.search-icon {
    color: #000054;
    font-size: 24px;
}

/* Report Page */

.reports-stack {
    display: grid;
    grid-auto-rows: max-content;
    gap: 16px;
    padding-block: 8px;
  }

.date-filter-group{
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 16;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100;
}

.date-input {
    width: 80%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #000054;
    font-size: 14px;
    color: #334155;
}

#run-reports {
    padding: 10px 14px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    width: initial;
    background-color: #000054!important;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    margin-bottom: 8px;
}

#run-reports:hover {
    background-color: #7ae1aa!important;
    border: 1px solid #000054;
    color: #000054;
    transition: all 0.2s ease-in-out;
}

.title-container {
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.report-category tr, td{
    width: 500px;
}

/* Login Page */

.login-page{
    display: flex;
    height: 100vh;
    background-color: #f0f4f8;
}

.cover-img {
    width: 65%;
    position: fixed;
    height: 100vh;
    position: relative;
    background-image: url(../image/sgs-beanland-library-14.jpg);
    align-items: center;
    background-size: cover;
    background-position: center;
}

.cover-img img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.content-container {
    width: 35%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-btn {
    padding: 10px 14px;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    width: 20%;
    background-color: #000054!important;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
}

.login-form {
    width: -webkit-fill-available;
}

.logo-container {
    position: absolute;
    padding: 36px;
    z-index: 9999;
}

.welcome-text {
    position: absolute;
    margin: 0px 0px 0px 48px;
    backdrop-filter: blur(2px) brightness(0.3);
    padding: 16px;
    z-index: 9999;
    top: 45%;
}

.welcome-text h1{
    position: relative;
    font-size: 3rem;
    color: #fff;
    margin: 16px 0;
}

.welcome-text p{
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    bottom: 16px;
    margin: 0;
    font-weight: normal;
}

.form { 
    display: grid; 
    gap: 16px;
}
  
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 50%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 14px;
    color: #334155;
}

.add-book-form {
    padding: 20px;
}